* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body, html {
  width: 100vw;
  height: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative; }

.index {
  background: none;
  position: relative;
  z-index: 0;
  top: 50%;
  height: fit-content;
  width: 100%;
  transform: translateY(-60%); }
  .index__title {
    color: white;
    font-weight: 800;
    text-align: center;
    margin: auto;
    font-size: 5rem; }
  .index__desc {
    color: white;
    text-align: center;
    margin: auto;
    font-weight: 200;
    font-size: 1.5rem; }

.front {
  display: flex;
  width: 40%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  text-decoration: none;
  height: fit-content; }
  .front > a {
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: 300;
    transition: all .2s; }
    .front > a:hover {
      cursor: pointer;
      transform: scale(1.1); }
  .front__student {
    background-color: black;
    text-decoration: none;
    color: white;
    border: solid 2px white; }
  .front__teacher {
    background-color: white;
    color: black;
    text-decoration: none;
    border: solid 2px black; }

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  display: none; }

.prompt {
  border-radius: 10px;
  background-color: white;
  width: clamp(300px, 25%, 30%);
  height: fit-content;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding-top: 20px;
  padding-bottom: 20px; }
  .prompt > div {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .prompt > div > label {
      text-align: left; }
    .prompt > div > input {
      padding: 10px 15px;
      border-radius: 10px;
      border: solid 1px #bfbfbf;
      font-size: 1rem;
      outline: none; }
      .prompt > div > input:focus {
        border: solid 2px black;
        padding: 9px 14px; }
    .prompt > div > button {
      margin-top: 25px;
      font-size: 1.4rem;
      border-radius: 10px; }
      .prompt > div > button:hover {
        cursor: pointer; }
    .prompt > div > .actual {
      background-color: black;
      padding: 10px 20px;
      color: white;
      border: none; }
    .prompt > div > .redirect {
      border: solid 2px black;
      background-color: white;
      color: black;
      padding: 8px 18px; }
      .prompt > div > .redirect:hover {
        background-color: #e0e0e0; }
  .prompt > h1 {
    text-align: center; }

.create {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px; }
  .create__inside {
    height: 200px;
    text-align: center;
    border: solid 2px black;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    user-select: none; }
    .create__inside:hover {
      cursor: pointer; }
    .create__inside:hover h3 {
      opacity: 1; }
    .create__inside > h3 {
      opacity: 0;
      font-size: 1.5rem; }
    .create__inside > h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%);
      font-size: 5rem;
      color: white;
      display: none;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4); }

.create__form > button {
  background-color: #42b983;
  border: none;
  padding: 20px 30px;
  color: white;
  font-size: 1.6rem;
  display: block;
  margin: auto;
  border-radius: 20px; }
  .create__form > button:hover {
    cursor: pointer; }

.create__form > p {
  display: block;
  font-size: 1.5rem;
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  padding: 5px 20px;
  color: black;
  border-bottom: solid 2px black;
  display: none; }
  .create__form > p > img {
    margin-left: 10px;
    margin-top: 2px; }
  .create__form > p:hover {
    cursor: pointer; }

.back-button {
  position: absolute;
  background-color: black;
  color: white;
  height: fit-content;
  border: none;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 15px;
  top: 5px;
  left: 10px;
  width: fit-content; }

.whole {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.artifact {
  background-color: white;
  border: none;
  width: 80%;
  height: 75%;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #bfbfbf;
  margin: auto; }
  .artifact > h1 {
    margin: auto;
    text-align: center;
    padding-top: 20px; }
  .artifact__content {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 70%;
    margin: auto; }
    .artifact__content > div {
      width: 50%; }
    .artifact__content > .text {
      overflow: scroll; }
      .artifact__content > .text > p {
        width: 85%;
        margin: auto;
        margin-top: 10px;
        font-size: 1.4rem; }
      .artifact__content > .text > h3 {
        margin: auto;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 10px; }
    .artifact__content > .text::-webkit-scrollbar {
      display: none; }
    .artifact__content > .img {
      background-size: cover;
      background-position: center;
      border: solid 3px black; }

.course-code {
  height: fit-content;
  width: 30%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }
  .course-code > h1 {
    text-align: center;
    margin: auto;
    padding-top: 20px; }
  .course-code > input {
    border: none;
    border-bottom: solid 2px black;
    padding: 10px 20px;
    font-size: 1.1rem;
    display: block;
    margin: auto;
    text-align: center; }
    .course-code > input:focus {
      outline: none;
      border-bottom: solid 2px #bfbfbf; }
  .course-code > button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    font-size: 1rem;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px; }
    .course-code > button:hover {
      cursor: pointer;
      background-color: #3a3a3a; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  align-content: center; }
  .header > a {
    text-decoration: none;
    display: block;
    background-color: black;
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 30px;
    color: white;
    border-radius: 10px; }

.footer {
  margin-bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 10px;
  height: fit-content; }
  .footer > a {
    width: 30%;
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px 0px;
    font-size: 1.5rem; }
    .footer > a:hover {
      background-color: #3a3a3a;
      cursor: pointer; }

.discussion {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: 0px 0px 10px 0px #bfbfbf;
  border-radius: 30px; }
  .discussion > img {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-left: 15px; }
  .discussion__text {
    flex: 1;
    padding: 20px 50px 20px 25px; }
    .discussion__text > header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline; }
      .discussion__text > header > h3 {
        font-size: 1.5rem; }
      .discussion__text > header > h4 {
        font-weight: 200;
        font-size: 1rem; }
    .discussion__text > p {
      font-size: 1.2rem;
      padding: 10px 0px; }
    .discussion__text > button {
      display: block;
      font-size: 1.3rem;
      padding: 4px 20px;
      background-color: #42b983;
      color: white;
      float: right;
      border: none;
      border-radius: 10px;
      margin-top: 10px; }
      .discussion__text > button:hover {
        cursor: pointer; }
    .discussion__text > textarea {
      display: block;
      width: 100%;
      resize: vertical;
      padding: 10px 20px;
      margin-top: 10px; }
      .discussion__text > textarea:focus {
        outline: none; }
