<!DOCTYPE>
<html>
    <header>
        Hi
    </header>
    <body>

        <a href='{% url "admin_add_page" %}'><h1>ADD ITEM</h1></a>


        <ul>
            {% for item in items %}
            <li> 
                <h2>{{item.name}} - {{ item.category }}</h2>
                <img src="{{ item.img.url }}" width="200">
                <p>{{ item.description }}</p>

                <form method="POST" action="{% url 'admin_edit_page' %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <button type="submit">Edit</button>
                </form>

                <form method="POST" action="{% url 'admin_delete' %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <button type="submit">Delete</button>
                </form>

            </li>
            {% endfor %}
        
        </ul>
        <ul>
            {% for post in dps %}
            <li> 
                <h2>{{ post.user.name }}</h2>
                <h3>{{post.item.name}}</h3>
                <p>{{ post.post }}</p>
                <p font-size="small">posted at {{ post.time }}</p>
                <form method="POST" action="{% url 'admin_delete_posts' %}">
                    {% csrf_token %}
                    <input type="hidden" name="post_username" value="{{ post.user.username }}">
                    <input type="hidden" name="post_item_id" value="{{ post.item.id }}">
                    <input type="hidden" name="post_content" value="{{ post.post }}">
                    <button type="submit">Delete</button>
                </form>

            </li>
            {% endfor %}
        
        </ul>


        <p> {{ loginSuccess }}</p>
        <p> {{ signupSuccess }}</p>
    </body>
</html>
