<!DOCTYPE>
<html>
    <head>
        <title>Uh oh!</title>
        <style>
            h1{
                text-align: center;
                margin: auto;
                font-size: 3rem;

            }

            a{
                border: none;
                display: block;
                text-decoration: none;
                font-size: 2rem;
                padding: 10px 20px;
                margin: auto;
                height: fit-content;
                width: fit-content;
                
            }
        </style>
    </head>
    <body>
        <h1>END OF COURSE</h1>
        <a href="../../">RETURN TO INDEX</a>
    </body>
</html>
