<!DOCTYPE html>
<html>
    <head>
        <title>Create</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>
    <body class="createbody">
        <h1 style="text-align: center; padding-top: 20px; width: 75%; margin: auto;">Pick the artifacts that you would like to show your students</h1>

        <form action="" class="create__form">
            <main class="create">
                {% for item in items %}
                <div>
                    <h3>{{ item.name }} - {{ item.category }}</h3>
                    <img width="300" src="{{ item.img.url }}">
                    <br>
                    <br>
                </div>
                {% endfor %}

            </main>
    
            <button>Generate Code</button>
            <p></p>
        </form>
        
    </body>
</html>