<!DOCTYPE html>
<html>
    <head>
        <title>Create</title>
        <link rel="stylesheet" href="./style.css" type="text/css">
    </head>
    <body class="createbody">
        <h1 style="text-align: center; padding-top: 20px; width: 75%; margin: auto;">Pick the artifacts that you would like to show your students</h1>
        <main class="create">
            <div>HELLO</div>
            <div>HELLO</div>
            <div>HELLO</div>
            <div>HELLO</div>
            <div>HELLO</div>
            <div>HELLO</div>
            <div>HELLO</div>
            <div>HELLO</div>
            <div>HELLO</div>
            <div>HELLO</div>

        </main>
    </body>
</html>