<!DOCTYPE html>
<html>
    <head>
        <title>Create</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>
    <body class="createbody">
        <a class="back-button" style="" href="../">Back to Home</a>
        <h1 class="message" style="text-align: center; padding-top: 20px; width: 75%; margin: auto;">Pick the artifacts that you would like to show your students</h1>
        <div style="height: 20px;"></div>
        <form action="" class="create__form" method="POST">
            {% csrf_token %}
            <main class="create">
                {% for item in items %}
                <div class="create__inside" style="background-image: url({{ item.img.url }});">
                    <h3 style="background-color: rgba(0,0,0,0.4); color: white;">{{ item.name }} - {{ item.category }}</h3>
                    <h1>1</h1>
                    <div style="display: none;">{{ item.name }}</div>
                    <!-- <img width="300" src="{{ item.img.url }}"> -->
                </div>
                {% endfor %}
            </main>
            <input type="text" name="array" class="selected-artifacts" style="width: 100%; display: none;">
            <div style="height: 20px;"></div>
            <button type="submit" class="generate">Generate Code</button>
            

            <p class="generated-code" style="user-select: none;">{{ code }}<img src="https://img.icons8.com/material-outlined/24/000000/copy.png" class="copy"/></p>
            <div style="height: 30px;"></div>
        </form>
        
        
        <script>
            const artif = document.querySelectorAll(".create__inside");
            let counter = 1;
            let artifactsSelected = []
            const liststore = document.querySelector(".selected-artifacts");

            

            for(let i = 0; i < artif.length; i++){
                artif[i].setAttribute("selected", "false");

                artif[i].addEventListener("click", (e) => {
                    if(artif[i].getAttribute("selected") === "false"){
                        artif[i].style.border = "solid 8px #1ced73";
                        artif[i].setAttribute("selected", "true");
                        artif[i].childNodes[3].style.display = "initial"
                        artif[i].childNodes[3].textContent = counter;
                        counter++;
                        console.log(artif[i].childNodes[5].textContent)
                        artifactsSelected.push(artif[i].childNodes[5].textContent);
                    } else{
                        console.log("ELSE")
                        artif[i].style.border = "solid 2px black";
                        artif[i].setAttribute("selected", "false");
                        artif[i].childNodes[3].style.display = "none"
                        counter--;
                        let pos = artifactsSelected.indexOf(artif[i].childNodes[5].textContent);
                        artifactsSelected.splice(pos, 1)
                    }
                    liststore.value = artifactsSelected;
                    
                });
            }

            const copybutton = document.querySelector(".copy");
            const element = document.querySelector(".generated-code");
            console.log("This is " + element.textContent + "!");
            element.addEventListener("click", (e) => {
                // code.select();
                // // code.setSelectionRange(0, 99999)
                // document.execCommand("copy");

                var range, selection, worked;

                if (document.body.createTextRange) {
                    range = document.body.createTextRange();
                    range.moveToElementText(element);
                    range.select();
                } else if (window.getSelection) {
                    selection = window.getSelection();        
                    range = document.createRange();
                    range.selectNodeContents(element);
                    selection.removeAllRanges();
                    selection.addRange(range);
                }
                
                try {
                    document.execCommand('copy');
                }
                catch (err) {
                    alert('unable to copy text');
                }
            });
            const generate = document.querySelector(".generate");
            const message = document.querySelector(".message");

            if(element.textContent != ""){
                generate.remove();
                message.textContent = "Copy the code below to show your course to your students!";
            }
            
            // generate.addEventListener("click", (e) => {
            //     generate.style.display = "none";
            // });

        </script>
    </body>
</html>