<!DOCTYPE>
<html>
    <header>
        <h1>Discussion</h1>
    </header>
    <br>
    <body>
        <div>
            <img src="{{ item.img.url }}">
            <h1>{{ item.name }}</h1>
            <h4>{{ item.category }}</h4>
            <p>{{ item.description | linebreaksbr }}</p>
        </div>

        <h1>----------------------------------------------</h1>
        <h1>POSTS</h1>

        {% for item in posts %}
            <h4>{{ item.user.name }} — {{ item.time }}</h4>
            <p>{{ item.post }}</p>
        {% endfor %}
        
    </body>
</html>

