<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="../static/style.css" type="text/css">


        <style>
            .title{
                position: absolute;
                margin: auto;
                text-align: center;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
                
            }
        </style>
    </head>
    <body style="position: relative;">
        <!-- <img src="{{ item.img.url }}">
        <h1>{{ item.name }}</h1>
        <h4>{{ item.category }}</h4>
        <p>{{ item.description | linebreaksbr }}</p> -->
        <h1 style="margin: auto; text-align: center; font-size: 3rem;" class="title">EXPLORE</h1>
        <header class="header">
            <a href="../">BACK</a>
            
            <form class="course-code">
                <input type="text" name="code" placeholder="Enter Course Code" class="code-text" minlength=7 required>
                <button type="submit" onmouseover="courseDO()">Get Course</button> 
            </form>
        </header>
        
        <!-- <div style="height: 20px;"></div> -->

        <main class="artifact">
            <h1>{{ item.name }} - {{ item.category }}</h1>
            <div style="height: 20px;"></div>
            <div class="artifact__content">
                <div style="background-image: url({{item.img.url}});" class="img"></div>
                <div class="text">
                    <h3>Description</h3>
                    <p>{{ item.description | linebreaksbr }}</p>
                </div>
            </div>
            <div style="height: 20px;"></div>
            <!-- <div class="artifact__buttons">
                <button>Save</button>
                <button>Next</button>
            </div> -->
            <!-- <div style="height: 10px;"></div> -->
        </main>
        <div class="footer">
            <a href="{% url 'save' item_pk=item.id %}">Save</a>
            <a href="{% url 'discussion' item_pk=item.id %}">Discussion</a>
            <a href="">Next</a>
        </div>

        <script>
            const codetext = document.querySelector(".code-text");
            const formsub = document.querySelector(".course-code");

            const courseDO = () => {
                console.log("Course SUBMIT " + codetext.value)
                let str = "../course/" + codetext.value;
                formsub.action = str;
            };
        </script>
    </body>
</html>
