<!DOCTYPE html>
<html>
    <header>
        
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </header>
    <body style="position: relative;">
        <!-- <img src="{{ item.img.url }}">
        <h1>{{ item.name }}</h1>
        <h4>{{ item.category }}</h4>
        <p>{{ item.description | linebreaksbr }}</p> -->
        <a  class="back-button" style="" href="../">BACK</a>
        <div style="height: 20px;"></div>
        <h1 style="margin: auto; text-align: center; font-size: 3rem;">EXPLORE</h1>
        <div style="height: 20px;"></div>

        <div class="whole">
            <main class="artifact">
                <h1>{{ item.name }} - {{ item.category }}</h1>
                <div style="height: 20px;"></div>
                <div class="artifact__content">
                    <div style="background-image: url({{ item.img.url }});" class="img"></div>
                    <div class="text">
                        <h3>Description</h3>
                        <p>{{ item.description | linebreaksbr }}</p>
                    </div>
                </div>
                <div style="height: 20px;"></div>
                <div class="artifact__buttons">
                    <button>Save</button>
                    <button>Next</button>
                </div>
                <div style="height: 20px;"></div>
            </main>

            <section class="course-code">
                <h1>Enter Course Code</h1>
                <input type="text" name="code" placeholder="Enter Code">

                <button>Get Course</button>
            </section>

            

        </div>
        


    </body>
</html>
