<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="../static/style.css" type="text/css">


        <style>
            .title{
                position: absolute;
                margin: auto;
                text-align: center;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
                
            }

            @keyframes showingSaved {
                0%{opacity: 0;}
                50%{opacity: 100%;}
                100%{opacity: 0;}
            }
        </style>
    </head>
    <body style="position: relative;">
        <!-- <img src="{{ item.img.url }}">
        <h1>{{ item.name }}</h1>
        <h4>{{ item.category }}</h4>
        <p>{{ item.description | linebreaksbr }}</p> -->
        <h1 style="margin: auto; text-align: center; font-size: 3rem;" class="title">EXPLORE</h1>
        <header class="header">
            <a style="" href="../">BACK</a>
            
            <form class="course-code">
                <input type="text" name="code" placeholder="Enter Course Code" class="code-text" minlength=7>
                <button type="submit" onmouseover="courseDO()">Get Course</button> 
            </form>
        </header>
        
        <!-- <div style="height: 20px;"></div> -->

        <main class="artifact">
            <h1>{{ item.name }} - {{ item.category }}</h1>
            <div style="height: 20px;"></div>
            <div class="artifact__content">
                <div style="background-image: url({{ item.img.url }});" class="img"></div>
                <div class="text">
                    <h3>Description</h3>
                    <p>{{ item.description | linebreaksbr }}</p>
                </div>
            </div>
            <div style="height: 20px;"></div>
            <!-- <div class="artifact__buttons">
                <button>Save</button>
                <button>Next</button>
            </div> -->
            <!-- <div style="height: 10px;"></div> -->
        </main>
        <form class="footer" method="POST" action="{% url 'save' %}">
            {% csrf_token %}
            <input type="text" style="display: none;" value="{{ item.id }}" name="item_code">
            <button class="alink" type="submit" onclick="showPopup()">Save</button>
            <a class="alink" href="{% url 'discussion' item_pk=item.id %}">Discussion</a>
            <a class="alink" href="">Next</a>
        </form>

        <h1 style="position: fixed; z-index: 10; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; display: none;" class="popup">Your Item Has Been Saved!</h1>

        <script>
            const codetext = document.querySelector(".code-text");
            const formsub = document.querySelector(".course-code");

            const courseDO = () => {
                console.log("Course SUBMIT " + codetext.value)
                let str = "course/" + codetext.value;
                formsub.action = str;
            };

            const popup = document.querySelector('.popup');
            const showPopup = () => {
                console.log("POPPING UP!");
                popup.style.WebkitAnimation = "showingSaved 5s linear"; // Code for Chrome, Safari and Opera
                popup.style.animation = "showingSaved 5s linear";  
            }

            popup.addEventListener("webkitAnimationStart", () => {
                popup.style.display = "initial";
            });

            popup.addEventListener("webkitAnimationEnd", () => {
                popup.style.display = "none";
            });
        </script>
    </body>
</html>
