<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <h1 class="title-discussion">SAVED ARTIFACTS</h1>
        <style>
            .title-discussion{
                text-align: center;
                margin: auto;
                font-size: 2.5rem;
                padding: 20px 0px;
            }
            p{
                font-size: 2rem;
            }
        </style>
    </head>

    <body>



        {% for saved in saved_items %}
            <div class="saved__item">
                <h2 class="saved__item--name">{{ saved.item.name }}</h2>
                <h2 class="saved__item--category">{{ saved.item.category}}</h2>
                <h2 class="saved__item--time">{{ saved.time }}</h2>
                <div class="saved__item--image" style="background-image: url({{ saved.item.img.url }});"></div>
           
                <a class="saved__item--visit" href="{% url 'explore' pk=saved.item.id %}">Visit Artifact</a>
            </div>
            <div style="height: 40px;"></div>
        {% endfor %}
    </body>
</html>

