<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <h1 class="title-discussion">SAVED ARTIFACTS</h1>
        <style>
            .title-discussion{
                text-align: center;
                margin: auto;
                font-size: 2.5rem;
                padding: 20px 0px;
            }
            p{
                font-size: 2rem;
            }
        </style>
    </head>

    <body>



        {% for saved in saved_items %}
            <h4>{{ saved.item.name }}, {{ saved.item.category}} — {{ saved.time }}</h4>
            <img src="{{ saved.item.img.url }}" width="200">
            <a href="{% url 'explore' pk=saved.item.id %}">Visit Artifact</a>
        {% endfor %}


    </body>
</html>

