<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <h1 class="title-discussion">Discussion Forum</h1>
        <style>
            .title-discussion{
                text-align: center;
                margin: auto;
                font-size: 2.5rem;
                padding: 20px 0px;
            }
            p{
                font-size: 2rem;
            }
        </style>
    </head>

    <body>
        <h1>SAVED</h1>


        {% for saved in saved_items %}
            <h4>{{ saved.item }} — {{ saved.time }}</h4>
        {% endfor %}


    </body>
</html>

